<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ERROR en el formato de entrega, revisa que sean las siguientes columnas de Excel:</h1>
    <ul>
        <li>Etiqueta</li>
        <li>Numero_Serie</li>
        <li>Descripcion_Equipamiento</li>
        <li>Responsable</li>
        <li>Carrera</li>
        <li>Ubicacion</li>
        <li>Observacion</li>
    </ul>
    <a href="/home/"><button>Volver a Home</button></a>
</body>
</html>