<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Inventario</title>
</head>
<body>
    <h1>Lista de Inventario</h1>
    {% if user.is_authenticated %}
        <p>Bienvenido, {{ user.username }}!</p>
        <ul>
            {% for item in listado %}
                <li>
                    <strong>Etiqueta:</strong> {{ item.Etiqueta }}<br>
                    <strong>Número de Serie:</strong> {{ item.Numero_Serie }}<br>
                    <strong>Descripción:</strong> {{ item.Descripcion_Equipamiento }}<br>
                    <strong>Responsable:</strong> {{ item.Responsable }}<br>
                    <strong>Carrera:</strong> {{ item.Carrera }}<br>
                    <strong>Ubicación:</strong> {{ item.Ubicacion }}<br>
                    <strong>Observación:</strong> {{ item.Observacion }}<br>
                    <strong>Digitador:</strong> {{ item.Digitador }}<br>
                    <BR>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Debes iniciar sesión para ver esta página.</p>
    {% endif %}
</body>
</html>
